INSTAGRAM_ACCESS_TOKEN=your_instagram_long_lived_token
STEAM_API_KEY=your_steam_api_key
MDL_API_KEY=your_mydramalist_api_key
NEXT_PUBLIC_STEAM_ID=76561198199646829
NEXT_PUBLIC_MAL_USERNAME=KiyoDreams
NEXT_PUBLIC_MDL_USERNAME=ChinguKiyo
NEXT_PUBLIC_IG_USERNAME=cosplayer.kiyo
